In [1]:
import numpy as np
import pandas as pd
%matplotlib inline

In [2]:
df = pd.read_csv('7_titanic_train.csv')

In [3]:
df.columns

Index([u'PassengerId', u'Survived', u'Pclass', u'Name', u'Sex', u'Age',
       u'SibSp', u'Parch', u'Ticket', u'Fare', u'Cabin', u'Embarked'],
      dtype='object')

In [4]:
df.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [5]:
df.ndim

2

In [6]:
type(df)

pandas.core.frame.DataFrame

In [7]:
#create a new Dataframe
X = pd.DataFrame()

In [8]:
X.head()

Empty DataFrame
Columns: []
Index: []

In [9]:
X['sex'] = df['Sex']
X['age'] = df['Age']
X['survived'] = df['Survived']

In [10]:
X.head()

      sex   age  survived
0    male  22.0         0
1  female  38.0         1
2  female  26.0         1
3  female  35.0         1
4    male  35.0         0

In [11]:
X.shape

(891, 3)

In [12]:
#drop missing values - not the best strategy
X = X.dropna(axis=0) #0 means row

In [13]:
X.shape

(714, 3)

In [14]:
y=X['survived']
X.drop(['survived'],axis=1,inplace=True)

In [15]:
y.head()

0    0
1    1
2    1
3    1
4    0
Name: survived, dtype: int64

In [16]:
y.shape

(714L,)

In [17]:
X.shape

(714, 2)

In [18]:
X['sex'] = pd.get_dummies(X.sex)
#X['sex']=pd.get_dummies(X.sex)['female']

In [19]:
X.head()

   sex   age
0    0  22.0
1    1  38.0
2    1  26.0
3    1  35.0
4    0  35.0

In [20]:
y.head()

0    0
1    1
2    1
3    1
4    0
Name: survived, dtype: int64

In [21]:
#scale features
import sklearn
from sklearn.cross_validation import train_test_split
from sklearn.preprocessing import StandardScaler

C:\Users\devendra.arya\AppData\Local\Continuum\anaconda2\lib\site-packages\sklearn\cross_validation.py:41: DeprecationWarning: This module was deprecated in version 0.18 in favor of the model_selection module into which all the refactored classes and functions are moved. Also note that the interface of the new CV iterators are different from that of this module. This module will be removed in 0.20.
  "This module will be removed in 0.20.", DeprecationWarning)

In [27]:
X_train,X_test,y_train,y_test = train_test_split(X,y,test_size=.20,random_state=0)
print X_train.ndim
print X_train.shape
print X_test.ndim
print X_test.shape
print y_train.ndim
print y_train.shape
print y_test.ndim
print y_test.shape

2
(571, 2)
2
(143, 2)
1
(571L,)
1
(143L,)

In [29]:
from sklearn.linear_model import LogisticRegression
model = LogisticRegression(penalty='l2',C=1)
#penalty is a regularization parameter which is l1 and l2 
#how strong is regularization is depends on parameter C

In [30]:
model.fit(X_train,y_train)

LogisticRegression(C=1, class_weight=None, dual=False, fit_intercept=True,
          intercept_scaling=1, max_iter=100, multi_class='ovr', n_jobs=1,
          penalty='l2', random_state=None, solver='liblinear', tol=0.0001,
          verbose=0, warm_start=False)

In [33]:
from sklearn.metrics import accuracy_score
accuracy_score(y_test,model.predict(X_test))

0.79720279720279719

In [35]:
#A better metric for binary classifer comparison is AUC
#very closely to precision and recall
#Precision is the fraction of correctly identified examples of a class
#recall is the fraction of observation classified in that class that was correctly classified

In [36]:
from sklearn.metrics import classification_report,roc_auc_score

In [37]:
log_roc_auc = roc_auc_score(y_test,model.predict(X_test))

In [38]:
log_roc_auc

0.78975474683544311

In [39]:
print classification_report(y_test, model.predict(X_test))

             precision    recall  f1-score   support

          0       0.79      0.86      0.82        79
          1       0.81      0.72      0.76        64

avg / total       0.80      0.80      0.80       143