In [1]:
#import sklearn
import sklearn

In [2]:
from sklearn.datasets import load_boston

In [3]:
boston = load_boston()

In [4]:
boston.keys()

['data', 'feature_names', 'DESCR', 'target']

In [5]:
import pandas as pd

In [6]:
bos = pd.DataFrame(boston['data'])

In [7]:
bos.head()

,0,1,2,3,4,5,6,7,8,9,10,11,12
0,0.00632,18.0,2.31,0.0,0.538,6.575,65.2,4.0900,1.0,296.0,15.3,396.90,4.98
1,0.02731,0.0,7.07,0.0,0.469,6.421,78.9,4.9671,2.0,242.0,17.8,396.90,9.14
2,0.02729,0.0,7.07,0.0,0.469,7.185,61.1,4.9671,2.0,242.0,17.8,392.83,4.03
3,0.03237,0.0,2.18,0.0,0.458,6.998,45.8,6.0622,3.0,222.0,18.7,394.63,2.94
4,0.06905,0.0,2.18,0.0,0.458,7.147,54.2,6.0622,3.0,222.0,18.7,396.90,5.33

In [8]:
bos.columns = boston['feature_names']

In [9]:
bos.head()

,CRIM,ZN,INDUS,CHAS,NOX,RM,AGE,DIS,RAD,TAX,PTRATIO,B,LSTAT
0,0.00632,18.0,2.31,0.0,0.538,6.575,65.2,4.0900,1.0,296.0,15.3,396.90,4.98
1,0.02731,0.0,7.07,0.0,0.469,6.421,78.9,4.9671,2.0,242.0,17.8,396.90,9.14
2,0.02729,0.0,7.07,0.0,0.469,7.185,61.1,4.9671,2.0,242.0,17.8,392.83,4.03
3,0.03237,0.0,2.18,0.0,0.458,6.998,45.8,6.0622,3.0,222.0,18.7,394.63,2.94
4,0.06905,0.0,2.18,0.0,0.458,7.147,54.2,6.0622,3.0,222.0,18.7,396.90,5.33

In [10]:
y=boston.target

In [11]:
from sklearn.linear_model import LinearRegression
from sklearn.neighbors import KNeighborsRegressor

In [12]:
from sklearn.model_selection import train_test_split

In [13]:
X_train,X_test,y_train,y_test = train_test_split(bos,y,test_size=.10,random_state=0)

In [14]:
print X_train.ndim
print X_train.shape
print X_test.ndim
print X_test.shape
print y_train.ndim
print y_train.shape
print y_test.ndim
print y_test.shape

2
(455, 13)
2
(51, 13)
1
(455L,)
1
(51L,)

In [15]:
lin_reg = LinearRegression()
knn_reg = KNeighborsRegressor(n_neighbors=1)

In [16]:
lin_reg.fit(X_train,y_train)
knn_reg.fit(X_train,y_train)

KNeighborsRegressor(algorithm='auto', leaf_size=30, metric='minkowski',
          metric_params=None, n_jobs=1, n_neighbors=1, p=2,
          weights='uniform')

In [17]:
print ('Linear Regression Train/Test: %.2f / %.2f '%(lin_reg.score(X_train,y_train), lin_reg.score(X_test,y_test)))
print ('KNN Regression Train/Test:  %.2f / %.2f '%(knn_reg.score(X_train,y_train), lin_reg.score(X_test,y_test)))

Linear Regression Train/Test: 0.76 / 0.52
KNN Regression Train/Test:  1.00 / 0.52

In [18]:
for k in range(1,10):
    knn_new=KNeighborsRegressor(n_neighbors=k)
    knn_new.fit(X_train,y_train)
    print 'KNN Regression Train/Test: %.2f / %.2f '%(knn_new.score(X_train,y_train),knn_new.score(X_test,y_test))

KNN Regression Train/Test: 1.00 / 0.51
KNN Regression Train/Test: 0.85 / 0.54
KNN Regression Train/Test: 0.79 / 0.54
KNN Regression Train/Test: 0.76 / 0.46
KNN Regression Train/Test: 0.71 / 0.39
KNN Regression Train/Test: 0.68 / 0.38
KNN Regression Train/Test: 0.68 / 0.35
KNN Regression Train/Test: 0.66 / 0.33
KNN Regression Train/Test: 0.64 / 0.28