In [1]:
#import numpy
import numpy as np

In [2]:
#import pandas
import pandas as pd

In [3]:
#read training set of heart diseases
df = pd.read_csv('train.csv')

In [4]:
#see head
df.head()

,P_ID,male,age,education,currentSmoker,cigsPerDay,BPMeds,prevalentStroke,prevalentHyp,diabetes,totChol,sysBP,diaBP,BMI,heartRate,glucose,HeartRisk
0,1211,1,39,4.0,0,0.0,0.0,0,0,0,195.0,106.0,70.0,26.97,80.0,77.0,0
1,1212,0,46,2.0,0,0.0,0.0,0,0,0,250.0,121.0,81.0,28.73,95.0,76.0,0
2,1213,1,48,1.0,1,20.0,0.0,0,0,0,245.0,127.5,80.0,25.34,75.0,70.0,0
3,1214,0,61,3.0,1,30.0,0.0,0,1,0,225.0,150.0,95.0,28.58,65.0,103.0,1
4,1215,0,46,3.0,1,23.0,0.0,0,0,0,285.0,130.0,84.0,23.10,85.0,85.0,0

In [5]:
#see shape
print 'shape = {0}'.format(df.shape)
#see null values
print 'isnull, sum = \n{0}'.format(df.isnull().sum())
#see na values
print 'isna, sum = \n{0}'.format(df.isna().sum())
print 'valuecount{0}'.format(df.HeartRisk.value_counts())
#fill na with zeroes
df[:].fillna(0, inplace=True)
#see na values
print 'isna, sum = \n{0}'.format(df.isna().sum())
print 'valuecount{0}'.format(df.HeartRisk.value_counts())

shape = (3698, 17)
isnull, sum =
P_ID                 0
male                 0
age                  0
education           94
currentSmoker        0
cigsPerDay          25
BPMeds              46
prevalentStroke      0
prevalentHyp         0
diabetes             0
totChol             46
sysBP                0
diaBP                0
BMI                 19
heartRate            1
glucose            345
HeartRisk            0
dtype: int64
isna, sum =
P_ID                 0
male                 0
age                  0
education           94
currentSmoker        0
cigsPerDay          25
BPMeds              46
prevalentStroke      0
prevalentHyp         0
diabetes             0
totChol             46
sysBP                0
diaBP                0
BMI                 19
heartRate            1
glucose            345
HeartRisk            0
dtype: int64
valuecount0    3139
1     559
Name: HeartRisk, dtype: int64
isna, sum =
P_ID               0
male               0
age                0
education          0
currentSmoker      0
cigsPerDay         0
BPMeds             0
prevalentStroke    0
prevalentHyp       0
diabetes           0
totChol            0
sysBP              0
diaBP              0
BMI                0
heartRate          0
glucose            0
HeartRisk          0
dtype: int64
valuecount0    3139
1     559
Name: HeartRisk, dtype: int64

In [6]:
#obtain training Features
X_train = df.iloc[:,:-1].values

In [7]:
#see shape
X_train.shape

(3698L, 16L)

In [8]:
#obtain training target
y_train = df.iloc[:,-1].values

In [9]:
y_train

array([0, 0, 0, ..., 0, 0, 0], dtype=int64)

In [10]:
y_train.shape

(3698L,)

In [11]:
#see no of Heart Disease patients
df.HeartRisk.value_counts()

0    3139
1     559
Name: HeartRisk, dtype: int64

In [12]:
df.isnull == True

False

In [13]:
#read testing dataset
df1 = pd.read_csv('test.csv')

In [14]:
df1.head()

,P_ID,male,age,education,currentSmoker,cigsPerDay,BPMeds,prevalentStroke,prevalentHyp,diabetes,totChol,sysBP,diaBP,BMI,heartRate,glucose,HeartRisk
0,4909,0,50,2.0,0,0.0,0.0,0,0,0,210.0,105.0,77.0,23.96,60,86.0,NaN
1,4910,0,36,4.0,1,9.0,0.0,0,0,0,212.0,127.0,83.0,26.82,75,75.0,NaN
2,4911,0,59,1.0,1,5.0,0.0,0,0,0,254.0,126.5,79.0,25.92,60,77.0,NaN
3,4912,1,40,3.0,1,20.0,0.0,0,0,0,248.0,136.5,78.0,24.60,90,99.0,NaN
4,4913,1,42,2.0,1,30.0,0.0,0,0,0,283.0,145.0,95.0,27.53,75,84.0,NaN

In [15]:
print 'shape = {0}'.format(df1.shape)
print 'isnull, sum = \n{0}'.format(df1.isnull().sum())
print 'isna, sum = \n{0}'.format(df1.isna().sum())

shape = (541, 17)
isnull, sum =
P_ID                 0
male                 0
age                  0
education           11
currentSmoker        0
cigsPerDay           4
BPMeds               7
prevalentStroke      0
prevalentHyp         0
diabetes             0
totChol              4
sysBP                0
diaBP                0
BMI                  0
heartRate            0
glucose             43
HeartRisk          541
dtype: int64
isna, sum =
P_ID                 0
male                 0
age                  0
education           11
currentSmoker        0
cigsPerDay           4
BPMeds               7
prevalentStroke      0
prevalentHyp         0
diabetes             0
totChol              4
sysBP                0
diaBP                0
BMI                  0
heartRate            0
glucose             43
HeartRisk          541
dtype: int64

In [16]:
#fill na with zeroes
df1[:].fillna(0, inplace=True)
print 'shape = {0}'.format(df1.shape)
print 'isnull, sum = \n{0}'.format(df1.isnull().sum())
print 'isna, sum = \n{0}'.format(df1.isna().sum())

shape = (541, 17)
isnull, sum =
P_ID               0
male               0
age                0
education          0
currentSmoker      0
cigsPerDay         0
BPMeds             0
prevalentStroke    0
prevalentHyp       0
diabetes           0
totChol            0
sysBP              0
diaBP              0
BMI                0
heartRate          0
glucose            0
HeartRisk          0
dtype: int64
isna, sum =
P_ID               0
male               0
age                0
education          0
currentSmoker      0
cigsPerDay         0
BPMeds             0
prevalentStroke    0
prevalentHyp       0
diabetes           0
totChol            0
sysBP              0
diaBP              0
BMI                0
heartRate          0
glucose            0
HeartRisk          0
dtype: int64

In [17]:
#obtain testing Features
X_test = df1.iloc[:,:-1].values

In [18]:
#import logistic regression class
from sklearn.linear_model import LogisticRegression

In [19]:
#create object of logistic regression class
LR = LogisticRegression(penalty='l2',C=1)
#penalty is a regularization parameter which is l1 and l2 
#how strong is regularization depends on parameter C

In [20]:
#fit the object with training data to obtain model
LR.fit(X_train,y_train)

LogisticRegression(C=1, class_weight=None, dual=False, fit_intercept=True,
          intercept_scaling=1, max_iter=100, multi_class='ovr', n_jobs=1,
          penalty='l2', random_state=None, solver='liblinear', tol=0.0001,
          verbose=0, warm_start=False)

In [21]:
#predict the values from model
y_predicted = LR.predict(X_test)
y_predicted_train = LR.predict(X_train)
y_predicted

array([0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0], dtype=int64)

In [22]:
#import accuracy score class to obtain accuracy
from sklearn.metrics import accuracy_score

In [23]:
#obtain training accuracy score
accuracy_score(y_train,y_predicted_train)

0.8520822065981611